@media all and (min-width: 480px) {
  html, body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
  }

  .center {
        display: block;
        margin: 0 auto; 
  }
  
  .Login, .footerMain {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 60px 0;
    min-height: 575px;
    animation: chatrLogin 15s linear infinite, chatrScale 1s linear infinite;
    animation-fill-mode: forwards;
    background-color: white;
    /* background-image: url("../../public/images/font-awesome/android-brands.svg"), url("../../public/images/font-awesome/apple-brands.svg"), url("../../public/images/font-awesome/book-solid.svg"), url("../../public/images/font-awesome/cat-solid.svg"), url("../../public/images/font-awesome/dog-solid.svg"), url("../../public/images/font-awesome/football-ball-solid.svg"), url("../../public/images/font-awesome/futbol-solid.svg"), url("../../public/images/font-awesome/glasses-solid.svg"), url("../../public/images/font-awesome/twitch-brands.svg"), url("../../public/images/font-awesome/css3-alt-brands.svg");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 4%, 4%, 4%, 4%, 4%, 4%, 4%, 4%, 4%, 4%; */
    background-image: url("../../public/images/font-awesome/movie1.png"), url("../../public/images/font-awesome/movie2.png"), url("../../public/images/font-awesome/book1.png"), url("../../public/images/font-awesome/tech1.png"), url("../../public/images/font-awesome/sports2.png"), url("../../public/images/font-awesome/book2.png"), url("../../public/images/font-awesome/tech2.png"), url("../../public/images/font-awesome/music2.png"), url("../../public/images/font-awesome/music1.png"), url("../../public/images/font-awesome/sports1.png"), url("../../public/images/font-awesome/tech3.png"), url("../../public/images/font-awesome/music3.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  }

  @keyframes chatrLogin {
    0%, 100% { background-position: 61%  40%, 12% 20%, 30% 37%, 45% 90%, 82% 24%, 62% 90%, 2% 50%, 83% 70%, 2% 10%, 22% 75%, 75% 15%, 35% 7%;}
    50% {      background-position: 47%  55%, 18% 20%, 29% 44%, 40% 80%, 92% 25%, 71% 65%, 10% 56%, 98% 78%, 5% 10%, 15% 85%, 70% 12%, 47% 13%;}
  }

  @keyframes chatrScale {
    0%, 100% { background-size: 4%, 3.9%, 4%, 3.9%, 4%, 3.9%, 4%, 3.9%, 4%, 3.9%, 4%;}
    50% {      background-size: 3.9%, 4%, 3.9%, 4%, 3.9%, 4%, 3.9%, 4%, 3.9%, 4%, 3.9%;}
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
    background: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 4px 10px grey;
  }
}

input:not([type]):not([readonly]):focus, input[type=text]:not([readonly]):not(.browser-default):focus, input[type=password]:not([readonly]):not(.browser-default):focus, input[type=email]:not([readonly]):not(.browser-default):focus, input[type=url]:not([readonly]):not(.browser-default):focus, input[type=time]:not([readonly]):not(.browser-default):focus, input[type=date]:not([readonly]):not(.browser-default):focus, input[type=datetime]:not([readonly]):not(.browser-default):focus, input[type=datetime-local]:not([readonly]):not(.browser-default):focus, input[type=tel]:not([readonly]):not(.browser-default):focus, input[type=number]:not([readonly]):not(.browser-default):focus, input[type=search]:not([readonly]):not(.browser-default):focus, textarea:not([readonly]).materialize-textarea:focus {
  border-bottom:1px solid #659BC9;
}

.btn {
  background: #659BC9;
}

.btn:hover {
  background: #3c76aa;
}

.navbar, .nav-wrapper {
  background: #272A33 !important;
}

.footer {
  background:#E9EBEE;
  width: 100%;
  min-height: 500px;
}

.chatMain {
  background:#E9EBEE;
  padding: 60px 0;
  min-height: 575px;
}

.activator {
  border-radius: 50% !important;
}

.card-content {
  text-align: center;
}

.chatMain {
  margin-top: -25px;
}

.chatMain img {
  margin-bottom: 25px;
  width: 20%;
}

.logo {
  width: 15% !important;
}

.loginLogo {
  width: 11% !important;
}

form {
  margin-top: -1.5em;
}

.card .card-content {
  font-family: fantasy;
  color: #3c76aa;
  padding: 5px 0 10px 0;
}

.card-image {
  margin-top: -5px;
  transition: .2s ease-in-out;
}

.card-image:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  25% { transform: scale(.95); }
  50% { transform: scale(1); }
  75% { transform: scale(.95); }
  100% { transform: scale(1); }
}

/* need to adjust this for the circles */
.card {
  padding: 5px 0 10px 0;
}

.card-title {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}


